[tool.poetry]
name = "malwarebazaar"
version = "0.0.2"
description = "CLI wrapper for malware bazaar API (bazaar.abuse.ch)"
authors = ["3c7 <3c7@posteo.de>"]
license = "MIT"
readme = "README.md"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Topic :: Security",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "License :: OSI Approved :: MIT License"
]
homepage = "https://github.com/3c7/bazaar"
repository = "https://github.com/3c7/bazaar"

[tool.poetry.dependencies]
python = "^3.8"
click = "^8.0.1"
rich = "^10.2.2"
requests = "^2.25.1"
PyYAML = "^5.4.1"
pyzipper = "^0.3.5"

[tool.poetry.dev-dependencies]
pyinstaller = "^4.3"
black = "^21.5b2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
bazaar = "malwarebazaar.bazaar:cli"
